*, 
html {
margin:0; padding:0;

}



body { 
    color: rgb(187, 239, 241); 
    background-color:rgb(10, 10, 74)
   
   
    
}



.cara-menjadi-sigma {
    background-color: rgb(123, 89, 170);
    width: 100%; height: 10vh;
}

.ul-1 {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.li-1 {
    /* background-color: rgb(67, 35, 223);  */
    /* border: 2px solid black; */
     list-style-type: none;
  margin: 15px; 
  padding : 10px; 
  /* border-color:aqua  */
  font-size: 20px;
}
.li-1:hover {
color:rgb(13, 13, 107);
background-color:rgb(21, 42, 100);
transition: 0.4s ease-in-out;
transition-delay: 0.2s;
border-radius: 10px;

}


.div-a{  background-color:aliceblue;
display:flex;  align-items: center;
justify-content: right; padding-right: 65px;
height: 80vh; 
}
  .a-10 {
height: 480px; width: 720px;
background-color:rgb(16, 174, 237);
display:flex;
justify-content: space-evenly; 
align-items: center; 
FLEX-DIRECTION: COLUMN;
text-decoration: none;
border-radius: 40px;

  box-shadow: 10px 10px lightblue;






  }   
.yt-b {
 
width: 65%; height: 65%; 
}

.div-b {
    background-color: rgb(51, 46, 58);
     display:flex; justify-content: center; align-items: center; 
     height: 10vh;
}
.end-a {
font-size: 25px; 

}

.a-1 {
color:aliceblue;
text-decoration: none;

}


.h2 { width:720px; height:480px; font-size: 20px; text-align: center;
    display:flex; justify-content: center; align-items: center;
    color:rgb(10, 10, 59) 

}